@import '../../colours';

.Sidebar {
  width: 20em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $green;
  color: white;
  padding: 2em;
  label {
    font-size: 1.5em;
    font-weight: 300;
  }
  .action-buttons {
    .btn {
      font-weight: 500;
      color: $black;
      width: 100%;
      padding: 0.5em 1.25em;
      margin-right: 0.5em;
    }
  }

  .OthersOrders {

  }
}

.PersonOrder {
  border-radius: 5px;
  color: $black;
  margin-bottom: 0.5em;
  background-color: white;
  .PersonSquare {
    position: relative;
    display: inline;
    vertical-align: top;
  }
  .main {
    padding-left: 0.5em;
    display: inline-block;

    .title {
      margin-bottom: 0.25rem;
    }

    .description{
      margin-bottom: 0.5rem;
    }
  }
}