{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEVELOPMENT__": true
  },
  "rules": {
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [1, "prefer-single"]
  }
}
