{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__PORT__": true
  },
  "rules": {
    "eqeqeq": [2, "smart"],
    "strict": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-quotes": 0,
    "react/jsx-boolean-value": [2, "always"],
    "jsx-quotes": [1, "prefer-single"],
    "radix": 0
  }
}
