DATABASE_URL=postgres://pg-user:pg-password@lunch-database-host:5432/lunch_database_name
NODE_ENV=development
SPLITWISE_CONSUMER_KEY=asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
SPLITWISE_CONSUMER_SECRET=asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
