@import '../../variables';

.LunchPicker {
  display: flex;

  .LunchOptions {
    min-width: 15em;
    display: flex;
    padding-right: 1em;
    padding-left: 1.5em;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .PeopleChoices {
    .PersonSquare {
      position: absolute;
    }
  }
}
