.UserConfig {
  .container {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form-group {
    margin-bottom: 2em;
  }

  .profile-image {
    display: flex;
    .PersonSquare {
      display: inline;
      margin-right: 0.5em;
    }

    .url-input {
      height: 2.5em;
      display: inline;
    }
  }
}