@import '../../variables';

.LunchOption {
  display: flex;
  align-self: flex-end;
  height: 3.5em;
  margin-bottom: 10px;

  .option-name {
    display: flex;
    align-items: center;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    box-shadow: $fine-box-shadow;
    flex: 1;
    background-color: white;
    color: $black;
    padding: 1em;
  }

  .choice-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $fine-box-shadow;
    background-color: $green;
    color: white;
    padding: 1em;
    width: 3.5em;
  }
}
