@import '../colours';

.LunchPicker {
  margin-top: 2em;
  width: 100%;
}

.OptionColumns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 1em;

  .OptionColumn {
    flex-basis: 12em;
    padding-right: 1em;
    button {
      width: 100%;
    }
  }
}

.PeopleChoices {
  width: 100%;
}

.PersonChoice {
  color: $black;
  padding: 0.5em;
  position: absolute;
  border: 1px solid $black;
}
