@import '../colours';

.OptionAdder {
  align-self: flex-end;
  height: 4em;

  .input-group-btn:last-child > .btn {
    box-shadow: none;
    margin-left: 0;
  }

  .add-button {
    float: right;
    padding: 1em;
    width: 3.5em;
  }

  .AddOptionForm {
    float: right;
    display: flex;
    height: 100%;

    padding-bottom:0.5em;

    .option-input {
      border: none;
      box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.1);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding-left: 0.5em;
    }

    .go-button {
      border: none;
      box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.1);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $green;
      color: white;
      padding-right: 1em;
      padding-left: 1em;
      width: 3.5em;
    }
  }
}
