@import '../../variables';

.PersonSquare {
  width: 3.5em;
  height: 3.5em;
  border-radius: $border-radius;
  box-shadow: $fine-box-shadow;

  &.isFetching {
    box-shadow: 0 0 10px 0 $green;
    transition: box-shadow 0.3s;
  }
}