@import './AutosuggestTheme';
@import '../colours';

.Landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2em;

  h1, button {
    display: inline-block;
  }

  button {
    margin-left: 1em;
  }

  .borderless {
    background-color: $grey;
    max-width: 10em;
    text-align: center;
    border: none;
    display: inline;
    border-bottom: 0.03em solid black;
    &:focus {
      outline: none;
    }
  }

  .autosuggest-wrapper {
    display: inline;
  }

  .react-autosuggest {
    display: inline;

    ul {
      left: 0;
    }
  }
}
