.ChooseLunch {
  .lunch-body {
    .LunchPicker {
      padding-top: 3em;
    }

    .Sidebar {
      width: 30em;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}